body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	font-size: 16px;
  background-color: maroon;
}

a {
  color: #00B7FF;
}

img {
	max-width: 100%;
	min-height: 100%;
}

.navbar {
	width: 100vw;
	font-size: 20px;
	border-radius: 0px;
}

.error {
	transition: all 3s;
	background-color: white;
}


.error.animate {
	background-color: red;
}