body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	font-size: 15px;
  background-color: maroon;
  color: white;
}

a {
  color: #00B7FF;
}

#poster {
	max-width: 100%;
	margin: auto;
}


.col-sm-3 {
  height: 100%;
}

h1 {
	color: white;
	margin-bottom: 40px;
}

p {
	margin-bottom: 30px;
}

.navbar {
  width: 100vw;
  font-size: 20px;
  border-radius: 0px;
}

