body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	font-size: 15px;
  background-color: maroon;
  color: white;
}

a {
  color: #00B7FF;
}

#poster {
	max-width: 100%;
	margin: auto;
}


h1 {
	color: white;
	margin-bottom: 40px;
}

p {
	margin-bottom: 30px;
}